:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(19, 18, 18, 0.87);
    background-color: #eeeeee;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1548f0d3;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
 
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-left: 30px;
  }
  button {
    color: #ffffff;
  }
  .pagination-info {
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  
   .pagination-btn {
    color: white;
    background-color: #1548f0d3;
    border: none;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.pagination-btn:disabled {
  background-color: #1158f3;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
    background-color: #5685eb;
}

    @media (max-width: 768px) {
      :root {
        color: #213547;
        background-color: #ffffff;
      }
      .gold {
        color: #1f1f1f;
        
      }
      a:hover {
        color: #747bff;
      }
      button {
        background-color: #f9f9f9;
      }
      .navbar {
        width: 100%;
        left: -10px;
      }
      ul 
        {
        /* flex-direction: column; */
        gap: 5px;
      }
      .container {
        width: 95%;
        /* height: 20vh; */
        margin-left: -20px;
      }
      .cup {
        width: 100%;
        height: 100%;
      }
      .cup h2 {
        font-size: 30px;
        margin-top: 50px;
      }
      .pagination{
        width: 100%;
       margin-left: 82px;
      }
      footer{
        font-size: 15px;
        margin-top: 20px;
        margin-left: 130px;
        width: 100%;
      }
    }
  